:root {
    --primary: #DD946F ;
    --primary-hover: #CD7D7C;                
    --background: #261E5A;
    --navbar-height: 30.75rem;
    --tamano-pestana: 194px;
    --tamano-texto-pestana: 12em;
}

* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


.background {
    display: block;
/*    width: 100vw;
    height: 100vh; */
    background-image: url(img/FondoPantallaJPG.jpg);
    opacity: 1;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.background-base {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background-image: url(img/FondoPantallaJPG.jpg);
    opacity: 1;
    z-index: 1;
    background-size: cover;
    background-position: center;
}


.lista {
    margin: 5px;
    padding: 5px;
}

.tabla-datos {
    padding: 10px;

}

.recuadro-prueba {
    background-color: #C6EAF9;
    border: solid;
    border-width: 1px; 
    border-radius: 5px;
    width: 85vw;
    padding: 5px;
    padding-left: 20px;
    margin-left: 10px;
}

.recuadro-prueba:hover {
    background-color: #f9c6f1;
    /* scale: 1.05; 
    margin-left: 30px; */
}

.recuadro-azul {
    background-color: #C6EAF9;
    border: solid;
    border-width: 1px; 
    border-radius: 5px;
    width: 85vw;
    padding: 5px;
    padding-left: 20px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 15px #261E5A;
}

.recuadro-azul:hover {
    background-color: #f9c6f1;
    /* scale: 1.05; 
    margin-left: 30px; */
}


.boton-calcular {
    background-color: #c6def9;
    /*scale: 1.05; 
    margin-left: 30px; */
}

.boton-calcular:hover {
    background-color: #f9c6f1;
    scale: 1.05; 
    /*margin-left: 30px; */
}

.imagen {
    max-width: 100vw;
}

/* https://youtu.be/ELSm-G201Ls?t=25895 */
table {
    /* width: 100%; */
    max-width: 80vw;
    /*max-width: 800px;*/
    background: #FFBF00 ;
    border: 5px solid #000 ;
    /* margin: auto; */
    box-shadow: 0px 0px 25px #0002 ;
}

.velocidad-vehiculo-A {
    /* width: 100%; */
    max-width: 80vw;
    /*max-width: 800px;*/
    background: #96c7b9 ;
    border: 2px solid #000 ;
    /* margin: auto; */
    box-shadow: 0px 0px 25px #0002 ;
    padding: 10px;
}

.tabla-calculos-post-A {
    /* width: 100%; */
    max-width: 80vw;
    margin-top: 2px;
    /*max-width: 800px;*/
    background: #96c7b9 ;
    border: 2px solid #000 ;
    /* margin: auto; */
    box-shadow: 0px 0px 25px #0002 ;
}

.velocidad-vehiculo-B {
    /* width: 100%; */
    max-width: 80vw;
    /*max-width: 800px;*/
    background: #b7bcd9 ;
    border: 2px solid #000 ;
    /* margin: auto; */
    box-shadow: 0px 0px 25px #0002 ;
    padding: 10px;
}

.tabla-calculos-post-B {
    /* width: 100%; */
    max-width: 80vw;
    margin-top: 2px;
    /*max-width: 800px;*/
    background: #b7bcd9;
    border: 2px solid #000 ;
    /* margin: auto; */
    box-shadow: 0px 0px 25px #0002 ;
}

.table-plantilla-recuadro {
    border: 3px solid #000 ;
    text-align: center ;
}
.table-plantilla-linea , th , td {
    text-align: center ;
}


/* https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation */
input:invalid {
    border: 2px dashed red;
  }
  
input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
input:valid {
    border: 2px solid black;
  }

.linea-azul {
    background: #54aeeb
}

.linea-marron {
    background: #f0df7a
}

.linea-amarilla {
    background: #eee562
}

.letragrande {
    font-size: large
}
.mezcla {
    font-size: large;
    background: #90eb54;
}
#ejemplo-id {  
    background: #ec8585
} 

.imagen-mediana {
    max-width: 25vw;
}

.imagen-mediana-grande {
    max-width: 80vw;
}

.celda-como-input {
    background: #c4cfd4;
    border: 2px solid #000 ; // inset o solid
}

.resultado {
    background: #ECDFF9 ;
    margin: 10px ;
}

.basico {
    background: #F8E9DE ;
} 

#entrada-datos-real {
    position: absolute;
    visibility: hidden;
}

#entrada-datos-medicion {
/*    position: absolute;
  */  visibility: hidden;
}

article.tabs
{
	position: relative;
	display: block;
	/*width: 40em;*/
    width: 100em;
	height: 15em;
	margin: 2em auto;
}
article.tabs section
{
	position: absolute;
	display: block;
	top: 1.8em;
	left: 0;
	right: 0;
	height: 20em;
	padding: 10px 20px;
	background-color: #ddd;
	border-radius: 5px;
	/*box-shadow: 0 3px 3px rgba(0,0,0,0.1);*/
	z-index: 0;
	color: black;
}
article.tabs section .tab-content 
{
	display: none;
}
article.tabs section:last-child
{
	z-index: 1;
	color: #333;
	background-color: #fff;
}
article.tabs section:last-child .tab-content
{
	display: block;
}
article.tabs section h2
{
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: var(--tamano-texto-pestana);
	height: 1.8em;
	top: -1.8em;
	left: 10px;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
}
article.tabs section:last-child h2
{
	color: #333;
	background-color: #fff;
    width: 182px;
}
article.tabs section:nth-child(1) h2
{
	left: var(--tamano-pestana);
}

article.tabs section:nth-child(2) h2
{
	left: calc(var(--tamano-pestana)* 2);
}

article.tabs section:nth-child(3) h2
{
	left: calc(var(--tamano-pestana)* 3);
}

article.tabs section:nth-child(4) h2
{
	left: calc(var(--tamano-pestana)* 4);
}

article.tabs section:nth-child(5) h2
{
	left: calc(var(--tamano-pestana)* 5);
}

article.tabs section:nth-child(6) h2
{
	left: calc(var(--tamano-pestana)* 6);
}

/*article.tabs section:nth-child(7) h2
{
	left: calc(var(--tamano-pestana)* 7);
}
*/

article.tabs section h2 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}
article.tabs section:target,
article.tabs section:target h2
{
	color: #333;
	background-color: #fff;
	z-index: 2;
}
article.tabs section:target .tab-content
{
	display: block;
}
article.tabs section:target ~ section:last-child h2
{
	color: #999;
	background-color: #ddd;
}
article.tabs section:target ~ section:last-child .tab-content
{
	display: none;
}
article.tabs section,
article.tabs section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.celda-gris {
    background: "grey";
    border: 2px solid #000 ; // inset o solid 
}

.celda-tabla-espacios-tiempos-4-4 {
    border-left: 1px solid #32a1ce;
    border-bottom: 1px solid #32a1ce;
    padding: 15px;
}

.celda-tabla-espacios-tiempos-4-4:last-child {
    border-right: 1px solid #32a1ce;
}