<div class="container">
    <h1 class="h2">Cálculo de Energías de Deformación con el Método Wood</h1>
    <p class="lead">Calcula la velocidad de impacto según el método Wood.</p>

    <div class="row">
        <div class="col-md-6">
            <form id="formulario-y-respuesta" hx-post="/htmx/energias-wood" hx-swap="outerHTML" hx-target="#formulario-y-respuesta">
                <div class="card mb-4">
                    <div class="card-header">
                        Tipo de Medición
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="tipo-medicion" class="form-label">Tipo de medición</label>
                            <select id="tipo-medicion" name="tipo-medicion" class="form-select" hx-post="/htmx/energias-wood-form" hx-target="#form-opcion" hx-trigger="change">
                                <option value="">---Elegir tipo de medición---</option>
                                <option value="medicion">Medición de deformaciones</option>
                                <option value="real">Daños reales</option>
                            </select>
                        </div>
                        <div id="form-opcion">
                            <!-- El contenido dinámico del formulario aparecerá aquí -->
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Resultado
                    </div>
                    <div class="card-body" id="resultado-energias-wood">
                        <!-- Resultado de ejemplo -->
                    </div>
                </div>

                <button class="btn btn-primary mt-3" type="submit">Calcular</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Imágenes de Referencia
                </div>
                <div class="card-body">
                    <img src="img/especificaciones.jpg" class="img-fluid mb-3" alt="imagen y medidas de un prius">
                    <img src="img/planta2BMP.jpg" class="img-fluid" alt="planta de un prius con las 6 medidas wood">
                </div>
            </div>
        </div>
    </div>
</div>
